<div class="text-center text-success">
    <h2>Login</h2>
    <form action="" (ngSubmit)="login() ">
        <div><input type="text" placeholder="username" [(ngModel)]="username" name="username"> <br>
            <input type="text" placeholder="password" [(ngModel)]="password" name="password">
        </div>
        <button class="btn btn-danger mt-2 " >Login </button>
    </form>
    <label for="">No account? <a href="register" > register </a></label>  <br>
    <label for="">Joblist >>> <a href="joblist" > Joblist </a></label>  <br>
    <label for="">JobCard >>> <a href="jobcard" > JobCard </a></label>
    
</div>